{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 data-project-id="{{ project.id }}">{{ project.title }}</h1>
        {% include 'planner/calendar.html.twig' %}
        <hr/>

        <h2>Current Week Activity</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Author</th>
                    <th>Activity</th>
                    <th>Day</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for activityItem in projectActivities %}
                    <tr>
                        <td>{{ activityItem.author.name }}</td>
                        <td>{{ activityItem.title }}</td>
                        <td>{{ activityItem.startTime|date('l') }}</td>
                        <td>{{ activityItem.duration|carbonInterval }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Tags</h2>
        {% for tag in project.tags %}
            {{ tag.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        <input type="text" placeholder="Add a tag">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}
